@font-face{
  font-family: 'headliner45';
  src: url('/fonts/HeadlinerNo45-59y8.ttf');
}
@font-face{
  font-family: 'weeping';
  src: url('/fonts/Weeping Willow Regular.otf');
}


.GeneratedMarquee {
  display: block;
  margin: 0 auto;
  width:400px;
  font-family:fantasy;
  font-size:2em;
  font-weight:bold;
  line-height:1.3em;
  color:#CC3300;
  background-color:#FFFFFF;
  padding:1em;
  }

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header img {
    display: block;
    margin: 0 auto;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-nav {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  .main{
      display: flex;
      flex-direction:row;
      justify-content: center;
  }


  .level{
      padding:20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .level-1-container, .level-2-container, .level-3-container, .level-4-container{
      height: 300px;
      width: 300px;
      border: 1px solid black;
  }
  
  #C {
    max-height: 100px;
  }

  #H {
    max-height:150px;
  }

  #S {
    max-height:120px;
  }

  #D {
    max-height:80px;
    
  }

  #level-1 {
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  #level-2-form{
    position: relative;
    top:250px;
  }
  

  .level2-img {
    max-height: 100px;
    position: absolute;
  }

  #level-3 {
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .level3-img {
    max-height: 100px;
  }

  .box{
    margin-top: 50px;
    max-height: 100px;
  }

  .level4-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:10px;
    filter: blur(1px);
  }

  .level-title{
    max-width: 300px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'weeping';
    letter-spacing: 1px;
  }

  .side-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  #tips{
    max-width: 50px;
  }

  #reset-level{
    max-width: 50px;
    margin-top: 50px;
  }

  footer{
    margin-top: 50px;
    text-align: center;
  }

  .level > button {
    background-color: green;
    cursor: pointer;
    border-radius: 50%;
    color:wheat;
  } 
  
  .level > button[disabled=disabled], button:disabled {
    background-color: #CC3300;  
    cursor:not-allowed;
  }